$def with ()
<head>
    <style>
         table, th, td {
            border: 1px solid black;
        }

    </style>
    
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCbZTRKl5_gf8hpukMd_AhcuTeFr2slj8I"></script>
    <script>
    function initialize(){
        var mapProp = {
            center:new google.maps.LatLng(0.0,45),
            zoom:5,
            mapTypeId:google.maps.mapTypeId.SATELLITE
        };
        var map = new google.maps.Map(document.getElementById("googlemap"),mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body onLoad="buildTaskTable">
    <table id="alertTable" onLoad="buildAlertTable()">
    </table>
    <table id="taskTable" >
        <title>Task Table</title>
        <tr>
            <th><b>Name</b></th>
            <th><b>Location</b></th>
            <th><b>ID</b></th>
            <th><b>Complete?</b></th>
            <th><b>Time Slot</b></th>
            <th><b>Description</b></th>
        </tr>
        <tr><td>No tasks</td></tr>
    </table>
    <div id="googlemap" style="width:500px;height:380px;"></div>
</body>