$def with ()
<head>
    <style>
         table, th, td {
            border: 1px solid black;
        }

    </style>
   
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


</head>

<body onLoad="buildTaskTable">
    <table id="alertTable" onLoad="buildAlertTable()">
    </table>
    <table id="taskTable" >
        <title>Task Table</title>
        <tr>
            <th><b>Name</b></th>
            <th><b>Location</b></th>
            <th><b>ID</b></th>
            <th><b>Complete?</b></th>
            <th><b>Time Slot</b></th>
            <th><b>Description</b></th>
        </tr>
        <tr><td>No tasks</td></tr>
    </table>
     <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/embed/v1/view?key=AIzaSyCbZTRKl5_gf8hpukMd_AhcuTeFr2slj8I&amp;center=-33.8569,151.2152&amp;zoom=18&amp;maptype=satellite"></iframe>
        </iframe>
    </section>
</body>